* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    }

a{
    text-decoration: none;
    list-style: none;
    color: black;
}   

.container{
    margin: 0 7%;
}

.Header{
    max-width: 100%;
}

.bgTop{
    background-color:#30373F;
}

.topBar{
    height: 3.43rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoBar{
    display: flex;
    align-items: center;    
}

.locationText{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: white;
    margin-left: 0.625rem;
}

.mailBar{
    display: flex;
}

.calImg{
    margin-left: 1.75rem;
}

.mailText{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: white;
    margin-left: 0.625rem;
    padding-top: 1px;
}

.navBar{
    height: 5.81rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.8125rem;
}

.logo{
    font-family: Enriqueta, sans-serif;
    font-size: 2.375rem;
    color: black;
    font-weight: 700;
}

.logoText{
    font-family: Enriqueta, sans-serif;
    font-size: 0.875rem;
    color: black;
    font-weight: 400;
    margin-top: -0.3125rem;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 600;
    font-size: 1.375rem;
    color: black;
    list-style: none;
    gap: 2.06rem;
}