* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    }

a{
    text-decoration: none;
    list-style: none;
    color: black;
}   

.container{
    margin: 0 7%;
}

.Header{
    max-width: 100%;
}

.bgTop{
    background-color:#30373F;
}

.topBar{
    height: 3.43rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topBar img {
    width: 1.5rem;
    height: 1.5rem;
}

.infoBar{
    display: flex;
    align-items: center;    
}

.locationText{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: white;
    margin-left: 0.625rem;
}

.mailBar{
    display: flex;
}

.calImg{
    margin-left: 1.75rem;
}

.mailText{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    color: white;
    margin-left: 0.625rem;
    padding-top: 1px;
}

.navBar{
    height: 5.81rem;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.8125rem;
}

.logo{
    font-family: Enriqueta, sans-serif;
    font-size: 2.375rem;
    color: black;
    font-weight: 700;
}

.logoText{
    font-family: Enriqueta, sans-serif;
    font-size: 0.875rem;
    color: black;
    font-weight: 400;
    margin-top: -0.3125rem;
}

.flex4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuList{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 600;
    font-size: 1.375rem;
    color: black;
    list-style: none;
    gap: 2.06rem;
}


.hamburger-menu {
    display: none;
    align-items: center;
    /* Position it to the right */
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 5;
}

#menu__toggle {
opacity: 0;
}

.menu__btn {
    display: flex;
    position: absolute;
    align-items: center;
    top: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}


.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}


.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;

    width: 47%;
    height: 100%;
    margin: 0;
    padding: 80px 10px;
    list-style: none;
    background-color: white;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 3.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    transition-duration: .05s;
}
.menu__box {
    transition-duration: .05s;
}
.menu__item {
    transition-duration: .05s;
}
.menu_link {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


