
.Header{
    background-color: #30373F;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.infoBar{
    display: flex;
    align-items: center;
}

.locationText{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: white;
    margin-left: 5px;
}