.container{
    max-width: 1660px;
    margin: 0 auto;
}


.Header{
    max-width: 100%;
    background-color: #30373F;
}

.infoBar{
    display: flex;
    align-items: center;
}

.locationText{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: white;
    margin-left: 5px;
}