@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;700&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media (min-width: 4100px) {
  *{
    font-size: 40px;
  }
}

@media (max-width: 4100px) {
  *{
    font-size: 40px;
  }
}

@media (max-width: 3800px) {
  *{
    font-size: 37px;
  }
}

@media (max-width: 3500px) {
  *{
    font-size: 34px;
  }
}

@media (max-width: 3200px) {
  *{
    font-size: 31px;
  }
}

@media (max-width: 2900px) {
  *{
    font-size: 28px;
  }
}

@media (max-width: 2600px) {
  *{
    font-size: 25px;
  }
}

@media (max-width: 2300px) {
  *{
    font-size: 22px;
  }
}

@media (max-width: 2000px) {
  *{
    font-size: 16px;
  }
}

@media (max-width: 1700px) {
  *{
    font-size: 15px;
  }

  .formats {
    width: 100%;
  }
}

@media (max-width: 1550px) {
  *{
    font-size: 14px;
  }
  .marble {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .marble img {
    width: 70rem;
    height: auto;
  }
  .marbletiles {
    width: 100%;
  }
  .marbletl {
    margin-top: 3rem;
    width: 100%;
  }
  .marblelook {
    align-self: center;
  }
  .marbletl p {
    align-self: center;
  }
  .services-main img {
    width: 80rem;
    height: 45rem;
  }
}



@media(max-width: 1418px){
  *{
    font-size: 13px;
  }
  .sourcing p {
    font-size: 1.5rem;
  }
  .services-main img {
    width: 75rem;
    height: 40rem;
  }

}

@media(max-width: 1310px) {
  * {
    font-size: 12px;
  }

}

@media (max-width: 989px) {
  *{
    font-size: 11px;
  }
  .sourcing p {
    font-size: 1.9rem;
  }


}

@media (max-width: 900px) {
  *{
    font-size: 10px;
  }

}

@media (max-width: 800px) {
  *{
    font-size: 9px;
  }
  .sourcing p {
    font-size: 2.5rem;
  }

}

@media (max-width: 718px) {
  *{
    font-size: 8px;
  }
}

@media (max-width: 659px) {
  *{
    font-size: 7px;
  }
  .sourcing p {
    font-size: 2.9rem;
  }
}

@media (max-width: 600px) {
  *{
    font-size: 6px;
  }
}

@media (max-width: 496px) {
  *{
    font-size: 5px;
  }
  .sourcing p {
    font-size: 3.3rem;
  }
}

@media (max-width: 330px) {
  *{
    font-size: 4px;
  }
}
