@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;700&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media (min-width: 4100px) {
  *{
    font-size: 35px;
  }
}

@media (max-width: 4100px) {
  *{
    font-size: 32px;
  }
}

@media (max-width: 3800px) {
  *{
    font-size: 29px;
  }
}

@media (max-width: 3500px) {
  *{
    font-size: 26px;
  }
}

@media (max-width: 3200px) {
  *{
    font-size: 24px;
  }
}

@media (max-width: 2900px) {
  *{
    font-size: 22px;
  }
}

@media (max-width: 2600px) {
  *{
    font-size: 20px;
  }
}

@media (max-width: 2300px) {
  *{
    font-size: 18px;
  }
}

@media (max-width: 2000px) {
  *{
    font-size: 16px;
  }
}

@media (max-width: 1789px) {
  /*.ml-white-tiles-adapt, .ml-beige-tiles-adapt, .ml-grey-tiles-adapt, .ml-black-tiles-adapt {
    flex-direction: column !important;
    gap: 2rem;
  }*/
  .products-main-page {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

}

@media (max-width: 1700px) {
  *{
    font-size: 15px;
  }

  .formats {
    width: 100%;
  }

  .ml-white-tiles {
    width: 100%;
  }

  .ml-white-tiles, .ml-beige-tiles, .ml-grey-tiles, .ml-black-tiles, .ml-green-tiles {

  }
}

@media (max-width: 1643px) {
  .tiles__text {

    width: 80% !important;
  }
}

@media (max-width: 1550px) {
  *{
    font-size: 14px;
  }
  /*.marble {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }*/
  .marble img {
    width: 70rem;
    height: auto;
  }
  .marbletiles {
    width: 100%;
  }
  .marbletl {
    margin-top: 3rem;
    width: 100%;
  }
  .marblelook {
    align-self: center;
  }
  .marbletl p {
    align-self: center;
  }
  .services-main img {
    width: 80rem;
    height: 45rem;
  }
}



@media(max-width: 1438px){
  *{
    font-size: 13px;
  }
  .sourcing p {
    font-size: 1.5rem;
  }
  .services-main img {
    width: 75rem;
    height: 40rem;
  }
  .marbleLookImg {
    width: 60rem !important;
    height: 46rem !important;
  }
  .marbletl {
    row-gap: 1rem !important;
  }

}

@media(max-width: 1335px) {
  * {
    font-size: 12px;
  }
  .bannerList-glob {
    flex-direction: column !important;
    gap: 2rem;
  }
  .bannerList {
    gap: 4rem;
  }
  .imgs img {
    width: 25% !important;
    height: 25% !important;
  }
  .banner p {
    font-size: 2rem !important;
  }
  .banner h2 {
    font-size: 3rem !important;
  }
  .banner a {
    font-size: 3rem !important;
  }
  .banner {
    height: 75rem !important;
  }
  .collection-bar-image::after {
    z-index: 999 !important;
    width: 5rem !important;
    height: 4rem !important;
  }
  .collection-bar-info::after {
    width: 5rem !important;
    height: 4rem !important;
  }
}

@media(max-width: 1304px) {
  * {
    font-size: 12px;
  }
  .collection-bar-info h2 {
    font-size: 1.3rem !important;
  }
  .collection-bar-info h5 {
    font-size: 0.5rem !important;
  }
  .collection-bar-info h4 {
    font-size: 1rem !important;
  }
  .collection-bar-info a {
    font-size: 1.3rem !important;
  }
  .collection-bar {
    width: 25rem !important;
    height: 25rem !important;
  }
  .collection-bar-info {
    width: 25rem !important;
    height: 25rem !important;
  }
  .collection-bar-image {
    width: 25rem !important;
    height: 25rem !important;

  }

  .collection-bar-image {

  }
  .collection-bar-info::before {
    width: 25rem !important;
    height: 25rem !important;
  }

  .collection-bar-info::after {
    background-repeat: no-repeat;
    z-index: 1;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    padding-right: 6.75%;

  }
  .contacts iframe {
    align-self: center;
    margin-right: 6.75%;
    margin-bottom: 1rem;
  }
  .contactsForm {
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px;

  }
  .contacts-bar {
    margin-right: 6.75%;
  }
  .contactsForm-form {
    width: 100%;
    font-size: 12px;
    margin-bottom: 1rem;
  }


}

@media (max-width: 1201px) {
  .bannerAbout {
    height: 80rem !important;
  }
  .test {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .ml-white img, .ml-beige img, .ml-grey img, .ml-black img, .ml-green img {
    width: 17rem !important;
    height: 19.5rem !important;
  }
  .marbleLookImg {
    width: 50rem !important;
    height: 40rem !important;
  }
}

@media (max-width: 1113px) {
  .flex1 {
    flex-direction: column;
    align-items: center !important;
    width: 100% !important;
    justify-content: center !important;
  }
  .flex2 {

  }
  .aboutPhoto {
    width: 30rem;
    height: 20rem;
  }

}

@media (max-width: 1095px) {
  .marbleLookImg {
    width: 40rem !important;
    height: 35rem !important;
  }
}

@media (max-width: 1072px) {
  .bannerAbout {
    height: 96rem !important;
  }
}

@media (max-width: 989px) {
  *{
    font-size: 11px;
  }
  .certISO {
    margin-left: 5rem !important;
  }
  .sourcing p {
    font-size: 1.9rem;
  }
  .mainText {
    font-size: 2rem !important;
  }
  .subText {
    font-size: 1.3rem !important;
  }
  .secondText {
    font-size: 1.8rem !important;
  }
  .thirdText {
    font-size: 1.5rem !important;
  }

}

@media (max-width: 900px) {
  *{
    font-size: 10px;
  }

  .hamburger-menu {
    display: flex !important;
  }
  .menu__btn {
    top: 31px !important;
  }
  .headerMenu {
    display: none;
  }
  .email {
    width: 19.125rem !important;
  }
  .footerAbout {
    display: flex;
    flex-direction: column;
    padding: 0 !important;

  }
  .about {
    font-size: 3rem !important;
    font-weight: 400 !important;
    line-height: 5rem !important;
    margin-left: 6.75%;
  }
  .contact {
    margin-left: 6.75%;
    margin-top: 1rem !important;
  }
  .quickl {
    margin-left: 6.75%;
    justify-content: space-around;
    width: 86.5%;
  }
  .quickList {
    font-size: 2rem !important;
  }
  .quickText {
    font-size: 1.5rem !important;
  }
  .quicklines {
    margin-top: 2rem;
  }
  .contact img {
    width: 4rem !important;
    height: 4rem !important;
  }
  .phoneText {
    font-size: 1.5rem !important;
    margin-left: 6.75% !important;

  }
  .aboutText {
    font-size: 1.45rem !important;
    align-items: center !important;
    justify-content: center !important;

    margin-left: 6.75%;
  }
  .width{
    display: flex;
    flex-direction: column;
    width: 86.5% !important;

  }
  .width5 {
    display: flex;
    flex-direction: row;
    width: 86.5% !important;

  }
  .process-bars {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .process-bar {
    width: 80% !important;
  }
  .process-bar:nth-child(2) {
    margin-top: 0 !important;
  }
  .process-bar-text p {
    font-size: 2rem !important;
  }
  .process-bar-text span {
    font-size: 2rem !important;
  }
  .collection-bars {
    align-items: center;
  }
  .collection-bar-info h2 {
    font-size: 4rem !important;
  }
  .collection-bar-info h5 {
    font-size: 1.5rem !important;
  }
  .collection-bar-info h4 {
    font-size: 3rem !important;
  }
  .collection-bar-info a {
    font-size: 4rem !important;
  }
  .collection-bars-row {
    flex-direction: column !important;
    gap: 3rem;
  }
  .collection-bar-info a {
    margin-top: 20%;
  }
  .collection-bar {
    width: 55rem !important;
    height: 55rem !important;
  }
  .collection-bar-info {
    width: 100% !important;
    height: 55rem !important;
  }
  .collection-bar-image {
    width: 100% !important;
    height: 55rem !important;
  }
  .collection-bar-info::before {
    width: 55rem !important;
    height: 55rem !important;
  }
  .collection-bar-image::after {
    width: 6rem !important;
  }
  .collection-bar-info::after {
    width: 6rem !important;
  }
  .collection-bar-info-wrapper {
    height: 100% !important;
  }

}

@media (max-width: 832px) {
  .bannerAbout {
    width: 75% !important;
    height: 50rem !important;
  }
  .marble {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .marbleLookImg {
    width: 80% !important;
    height: auto !important;
  }
  .bannerTitle {
    font-size: 2.5rem !important;
  }
  .bannerText {
    font-size: 1.75rem !important;
  }
  .marker {
    font-size: 1.75rem !important;
  }
  .bannerListAbout {
    flex-direction: column;
  }


}

@media (max-width: 800px) {
  *{
    font-size: 9px;
  }
  .menu__btn {
    top: 24px !important;
  }
  .collection-bar-image::after {
    width: 7rem !important;
    height: 5rem !important;
  }
  .collection-bar-info::after {
    width: 7rem !important;
    height: 5rem !important;
  }

  .sourcing p {
    font-size: 2.5rem;
  }
  .ml-green-tile {
    margin-left: 0 !important;
  }

}

@media (max-width: 762px) {

}

@media (max-width: 718px) {
  *{
    font-size: 8px;
  }
  .menu__btn {
    top: 18px !important;
  }
  .aboutPhoto {
    width: 35rem !important;
    height: 24rem !important;
  }
  .mainText {
    font-size: 2.3rem !important;
  }
  .subText {
    font-size: 1.6rem !important;
  }
  .secondText {
    font-size: 2.1rem !important;
  }
  .thirdText {
    font-size: 1.8rem !important;
  }
}

@media (max-width: 659px) {
  *{

  }
  .certText {
    font-size: 1.5rem !important;
  }
  .sourcing p {
    font-size: 2.9rem;
  }
  .bannerList {
    flex-direction: column !important;
    align-items: center;
  }
  .imgs img {
    width: 25% !important;
    height: 25% !important;
  }
  .banner p {
    font-size: 3rem !important;
  }
  .banner h2 {
    font-size: 4.625rem !important;
  }
  .banner a {
    font-size: 4.4rem !important;
  }
  .banner {
    width: 80% !important;
    height: 125rem !important;
  }
  .ml-white img, .ml-beige img, .ml-grey img, .ml-black img, .ml-green img {
    width: 13rem !important;
    height: 14.911rem !important;
  }
}

@media (max-width: 604px) {
  *{

  }
  .process-bar {
    height: 65rem !important;
  }
}

@media (max-width: 600px) {
    .flex2 {
      align-items: center;
      padding-bottom: 2rem;
      text-align: center;
      width: 95% !important;
      gap: 1.5rem;
    }
  .certISO {
    margin-top: 2.5rem !important;
    margin-left: 0 !important;
    width: 50%;
  }
  .certImg {
    width: 55% !important;
    height: auto !important;
  }
}

@media (max-width: 574px) {
  .bannerAbout {
    height: 75rem !important;
  }
  .exploreAbout {
    height: 15rem !important;
  }
  .thirdText {
    line-height: 2.5rem !important;
  }
  .tiles__text {

    width: 90% !important;
  }
  .ml-green-tiles {
    /*margin-left: 3% !important;*/
  }
}

@media (max-width: 496px) {
  *{
    font-size: 7px;
  }
  .ml-white img, .ml-beige img, .ml-grey img, .ml-black img, .ml-green img {
    width: 10.5rem !important;
    height: 12.0435rem !important;
  }
  .aboutPhoto {
    width: 90% !important;
    height: auto !important;
    align-self: center !important;
  }
  .menu__btn {
    top: 11px !important;
  }
  .tiles__text3 {
    font-size: 2rem !important;
  }
  .aboutPhoto {
    float: none !important;
  }
  .collection-bar-image::after {
    width: 8rem !important;
    height: 6rem !important;
  }
  .collection-bar-info::after {
    width: 8rem !important;
    height: 6rem !important;
  }
  .sourcing p {
    font-size: 3.3rem;
  }
  .mainText {
    font-size: 2.5rem !important;
  }
  .subText {
    font-size: 1.8rem !important;
  }
  .secondText {
    font-size: 2.3rem !important;
  }
  .thirdText {
    font-size: 2rem !important;
  }
  .bannerTitle {
    font-size: 2.65rem !important;
  }
  .bannerText {
    font-size: 1.9rem !important;
  }
  .marker {
    font-size: 1.9rem !important;
  }
  .tiles__text {

    width: 100% !important;

  }
  .tiles__text3{
    margin-left: 10% !important;
  }
  .certTitle {
    font-size: 3rem !important;
  }
}

@media (max-width: 410px) {
  .certText {
    font-size: 1.3rem !important;
  }
}

@media (max-width: 360px) {
  *{
    font-size: 6px;
  }
  .menu__box {
    width: 55% !important;
  }
  .tiles__text3{
    margin-left: 5% !important;
  }
  .menu__btn {
    top: 5px !important;
  }
  .bannerAbout {
    width: 75% !important;
    height: 90rem !important;

  }
  .banner {
    width: 80% !important;
    height: 135rem !important;
  }
  .email {
    width: 19.125rem !important;
  }
  .footerLogo {
    font-size: 4rem !important;
  }
  .footerTextlogo {
    font-size: 1.8rem !important;
    margin-top: 0.5rem !important;
  }
  .email::placeholder {
    font-size: 2rem !important;
  }
  .button {
    width: 2rem !important;
    height: 2rem !important;
  }

  .ftMail img {
    width: 2rem !important;
    height: 2rem !important;
  }
  .footerAbout {
    display: flex;
    flex-direction: column;
    padding: 0 !important;

  }
  .about {
    font-size: 4rem !important;
    font-weight: 400 !important;
    line-height: 5rem !important;
    margin-left: 6.75%;
  }
  .contact {
    margin-left: 6.75%;
    margin-top: 1rem !important;
  }
  .quickl {
    margin-left: 6.75%;
    justify-content: space-around;
    width: 86.5%;
  }
  .quickList {
    font-size: 4rem !important;
  }
  .quickText {
    font-size: 2.5rem !important;
  }
  .quicklines {
    margin-top: 2rem;
  }
  .contact img {
    width: 6rem !important;
    height: 6rem !important;
  }
  .phoneText {
    font-size: 2rem !important;
    margin-left: 6.75% !important;

  }
  .aboutText {
    font-size: 2rem !important;
    align-items: center !important;
    justify-content: center !important;

    margin-left: 6.75%;
  }
  .width{
    display: flex;
    flex-direction: column;
    width: 86.5% !important;

  }
  .width5 {
    display: flex;
    flex-direction: row;
    width: 86.5% !important;

  }
  .exploreAbout {
    height: 21rem !important;
  }

}
