
.tiles{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('/bg-tiles.png');
}
.tiles::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48,55,63, 0.6);
    z-index: 3;
}
.tiles {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('/bg-tiles.png');
}

.tiles::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48,55,63, 0.6);
    z-index: 3;
}

.tiles__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 4;
    width: 54%;
}
.tiles__text1 {
    color: #DCDCDC;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2.85px;
}
.tiles__text2 {
    color: #E6AF5D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5.7px;
}