.test{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
}
.tiles{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 57.5em;
    background-image: url('/bg-tiles.png');
    background-size: cover;
}
.tiles::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 57.5em;
    background-color: rgba(48,55,63, 0.6);
    z-index: 3;
}

.tiles__text {
    text-align: center;
    z-index: 4;
    width: 54%;
}

.tiles__text1 {
    color: #DCDCDC;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2.85px;
    text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
    -webkit-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
    -moz-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
}

.tiles__text2 {
    margin-top: 40px;
    color: #E6AF5D;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Plus Jakarta Sans;
    font-size: 57px;
    font-weight: 700;
    letter-spacing: 5.7px;
    text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
-webkit-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
-moz-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
}

.tiles__text3 {
    color: #DCDCDC;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.85px;
    max-width: 64%;
    margin-left: 18%;
    margin-top: 40px;
    text-align: initial;
    text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
-webkit-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
-moz-text-shadow:0px 1px 0 rgb(0,0,0),0px -1px 0 rgb(0,0,0),1px 0px 0 rgb(0,0,0),-1px 0px 0 rgb(0,0,0),1px 1px 0 rgb(0,0,0),1px -1px 0 rgb(0,0,0),-1px 1px 0 rgb(0,0,0),-1px -1px 0 rgb(0,0,0);
}

.column{
    column-count: 2;
}

.mt{
    margin-top: 20px;
}

.services {
    background-image: url('/page-bg.png');
    background-size: cover;
    width: 100%;
    padding-left: 6.75%;
    padding-right: 6.75%;
    padding-top: 9rem;
    padding-bottom: 6.25rem;
}
.services h1 {
    height: 8.5rem;
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.32px;
    border-bottom: 2px solid rgba(48, 55, 63, 0.50);
    stroke: rgba(48, 55, 63, 0.50);
}
.bannerList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
}
.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #30373F;
    border-radius: 5px;
    background: #F5F5F5;
    width: 23.48%;
    height: 45.75rem;
    padding: 2em 1em 2em 2em;
}
.banner img {
    width: 6.25em;
    height: 6.25em;
}
.banner p {
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.52px;
    margin-top: 1rem;
}
.banner h2 {
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.47px;
    margin-top: 3.0625rem;
}
.banner a {
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.28px;
}