.header-sec {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33.375rem;
    background-image: url('/marblebg3.png');
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5.7px;
}
.contacts {
    display: flex;
    justify-content: space-between;
    background-image: url('/contactbg.png');
    padding: 9.5rem 0 0 6.75%;
}
.contacts-bar {
    width: 38.75rem;
    padding-bottom: 7.25rem;
}
.topLine {
    display: flex;
    align-items: center;
}
.topLine img {
    width: 37px;
    height: 2px;
}
.contacts-bar h5 {
    color: #E6AF5D;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; 
    letter-spacing: 1px;
}
.contacts-bar h1 {
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    margin-top: 0.5rem;
}
.contacts-bar h6 {
    margin-top: 2rem;
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.contacts-bar span {
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.contacts-bar p {
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(48, 55, 63, 0.5);
    width: 38.75rem;
}
.sec-merged-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}
.sec-merged-1 img {
    width: 1.5rem;
    height: 1.5rem;
}

.sec-merged-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 0.75rem;

}
.sec-merged-2 img {
    width: 1.5rem;
    height: 1.5rem;
}

.sec-merged-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-top: 0.75rem;

}
.sec-merged-3 img {
    width: 1.5rem;
    height: 1.5rem;
}
iframe {
    width: 56.9rem;
    height: 38rem;
}
.contactsForm {
    display: flex;
    justify-content: space-between;
    background-image: url('/formbg.png');
}
.contactsForm-form {
    width: 43.375rem;
    align-self: center;
    margin-right: 6.75rem;
}
.contactsForm-form h2 {
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    text-transform: capitalize;
}
.contactsForm-form h3 {
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.88px;
}
.contactsForm-form-fields {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-top: 1.5rem;
}
.contactsForm-form-fields-info {
    display: flex;
    column-gap: 1.5rem;
}
.contactsForm-form-fields-info-1 {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.contactsForm-form-fields-info-2 {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}
.contactsForm-form-fields-info-1-nnea, .contactsForm-form-fields-info-1-nnea::before, .contactsForm-form-fields-info-1-nnea::after {
    width: 17.5rem;
    height: 3.25rem;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 5px;
    border: 2px solid #30373F;
    padding-left: 1rem;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 254.545% */
    letter-spacing: 2.09px;
}
.contactsForm-form-fields-info-2-nnea, .contactsForm-form-fields-info-2-nnea::before, .contactsForm-form-fields-info-2-nnea::after {
    width: 17.5rem;
    height: 3.25rem;
    background-color: rgba(245, 245, 245, 1);
    border-radius: 5px;
    border: 2px solid #30373F;
    padding-left: 1rem;
    box-sizing: border-box;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 254.545% */
    letter-spacing: 2.09px;
}

.contactsForm-form-fields-message {
    width: 36.5rem;
    height: 6rem;
    border-radius: 5px;
    border: 2px solid #30373F;
    background: #F5F5F5;
    padding-left: 1rem;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2.09px;
    padding-top: 1rem;
    resize: none;
    line-height: 56px;
}
.contactsForm-form-fields-message::placeholder {
    color: rgba(48, 55, 63, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 2.09px;
}
.contactsForm-form-fields-message:focus::-webkit-input-placeholder {
    color: transparent
}

.contactsForm-form-fields-message:focus::-moz-placeholder {
    color: transparent
}

.contactsForm-form-fields-message:focus:-moz-placeholder {
    color: transparent
}

.contactsForm-form-fields-message:focus:-ms-input-placeholder {
    color: transparent
}
.contactsForm-form-fields-info-2-nnea::placeholder {
    color: rgba(48, 55, 63, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 2.09px;
}
.contactsForm-form-fields-info-1-nnea::placeholder {
    color: rgba(48, 55, 63, 0.40);
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 2.09px;
}