.header-sec {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33.375rem;
    background-image: url('/marblebg3.png');
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5.7px;
}

