.Footer{
    background-image: url('/footerbg.png');
    background-size: cover;
    background-color: #30373F;
    opacity: 75%;
    width: 100%;
    position: absolute;
}

.footerFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16%;
    flex-wrap: wrap;
}

.footerLogo{
    font-family: Enriqueta, sans-serif;
    font-weight: 700;
    font-size: 2.375rem;
    line-height: 3.125rem;
    color: white;
    margin-top: 4.9375rem;
}

.footerTextlogo{
    font-family: Enriqueta, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: white;
    margin-top: -0.1875rem;
}

.ftMail{
    margin-top: 5.625rem;
    border-bottom: 1px rgb(255, 255, 255, 0.5) solid;
}

.email{
    width: 39.125rem;
    height: 2.6875rem;
    background: transparent;
    border: none;
    outline: none;
    font-family: Plus Jakarta Sans, sans-serif;
    color: white;
    font-size: 0.9375rem;
    line-height: 2rem;
}

.email::placeholder{
    font-family: Plus Jakarta Sans, sans-serif;
    color: white;
    font-size: 0.9375rem;
    line-height: 2rem;
}

.button{
    background: transparent;
    border: none;
}

.footerAbout{
    padding: 4.8125rem 20% 0 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footerFlex::after{
    position: absolute;
    content: '';
    width: 68%;
    height: 1px;
    background-color:rgb(255, 255, 255, 0.5);
    bottom: 3.9375rem;
}

.about{
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
    color: white;
}

.aboutText{
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 0.6875em;
    font-weight: 400;
    line-height: 2rem;
    color: white;
    margin-top: 1.5625rem;
}

.contact{
    display: flex;
    margin-top: 0.8125rem;
}

.phoneMargin{
    margin-left: 1.0625rem;
}

.phoneText{
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 2rem;
    color: white;
}

.flexFt{
    display: flex;
}

.margin{
    margin-left: 0.625rem;
}

.width{
    width: 17.6875rem;
}

.quickList{
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    color: white;
    list-style: none;
}

.quickText{
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 2rem;
    color: white;
}

.mt{
    margin-top: 1.25rem;
}

.copyright{
    margin-top: 5.875rem;
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 0.9375rem;
    color: white;
    text-align: center;
    margin-bottom: 1.4375em;
}

