.header-sec {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33.375rem;
    background-image: url('/marblebg3.png');
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5.7px;
}
.products {
    background-image: url('/productsbg.png');
    background-size: cover;
    width: 100%;
    padding: 6.25rem 0;
}
.products-headline {
    color: #30373F;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5.7px;
}
.products-footline {
    color: #616161;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.85px;
}
.products-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3.25rem 0;
    gap: 2.375rem;
}

.products-navigation a {
    color: #616161;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.8px;
    border-bottom: 1px solid rgba(48, 55, 63, 0.56);
}
.marble {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86.5%;
    margin-left: 6.75%;
}
.marble img {
    display: block;
    width: 54rem;
    height: 34rem;
}
.marbletiles {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 39rem;

}
.marbletiles p {
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.9px;
}
.marblelook {
    color: #E6AF5D;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.7px;
}
.formats {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.8px;
    align-self: center;
}

.format {
    display: flex;
    align-items: center;
    margin: 10px;
    width: 14.815rem;
    margin-left: 32%;
}

.format img {
    width: 0.85rem;
    height: 0.85rem;
    margin-right: 1rem;
}

.ml-white h1, .ml-beige h1, .ml-grey h1, .ml-black h1, .ml-green h1 {
    width: 86.5%;
    height: 5rem;
    color: #E6AF5D;
    font-family: Plus Jakarta Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.8px;
    border-bottom: 2px solid rgba(48, 55, 63, 0.50);
    margin: 7.6875rem 6.75% 3rem;
}
.ml-white-tiles, .ml-beige-tiles, .ml-grey-tiles, .ml-black-tiles, .ml-green-tiles {
    display: flex;
    justify-content: space-between;
    width: 86.5%;
    margin-left: 6.75%;
}
.ml-white-tile,.ml-beige-tile, .ml-grey-tile, .ml-black-tile, .ml-green-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ml-white-tile img, .ml-beige-tile img, .ml-grey-tile img, .ml-black-tile img, .ml-green-tile img {
    position: relative;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}
.ml-white-tile span,.ml-beige-tile span, .ml-grey-tile span, .ml-black-tile span, .ml-green-tile span {
    margin-top: 1.9rem;
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.47px;
}
.ml-white-tile p,.ml-beige-tile p, .ml-grey-tile p, .ml-black-tile p, .ml-green-tile p {
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.9px;
    margin-top: 0.75rem;
}
