.header-sec {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33.375rem;
    background-image: url('/marblebg3.png');
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5.7px;
}

.aboutbg{
    background-image: url('/aboutbg.png');
}

.video-player{
    width: 49.18rem;
    height: 47.8125rem;
    border-radius: 1.875rem 0.3125rem 1.875rem 0.3125rem;
    border: 2px #30373F solid;
}

.aboutpageText{
    margin-left: 116px;
}

.mainText{
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.178125rem;
}

.subText{
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 1.1875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.9px;
    margin-top: 1.875rem;
}

.aboutPhoto{
    max-width: 100%;
    width: 25.1875rem;
    height: 17.4375rem;
    flex-shrink: 0;
    float: right;
    margin-top: 2.5rem;
}

.secondText{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.47px;
    margin-top: 4.5625rem;
}

.thirdText{
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 1.9px;
    margin-top: 1.25rem;
}

.exploreAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6.8rem;
    width: 100%;
    height: 12rem;
    border-bottom: 1px solid rgba(48, 55, 63, 0.50);
    stroke: rgba(48, 55, 63, 0.50);
}

.coreText{
    color: #E6AF5D;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.09px;
}

.empText{
    color: #30373F;
    font-family: Plus Jakarta Sans;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.32px;
}

.empowering {
    background-image: '/aboutbg.png';
    background-size: cover;
    width: 100%;
    margin-top: 4.375em;
}

.bannerListAbout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.bannerAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #30373F;
    border-radius: 5px;
    background: #F5F5F5;
    width: 24.375rem;
    height: 62.5rem;
    padding: 2rem 1rem 2rem 2rem;
}

.bannerTitle{
    color: #E6AF5D;
    font-family: Plus Jakarta Sans;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.47px;
}

.bannerText{
    margin-top: 5.375rem;
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 1.52px;
}

.marker{
    margin-left: 1.5625rem;
}

.certImg{
    width: 28.625rem;
    height: 40.4375rem;
    margin: 6.25rem 0;
}

.certISO{
    margin-left: 12.5rem;
}

.certTitle{
    color: #000;
    font-family: Plus Jakarta Sans;
    font-size: 3.75em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.7px;
}

.certText{
    margin-top: 1.875em;
    color: #616161;
    font-family: Plus Jakarta Sans;
    font-size: 1.875em;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.85px;
}